<footer>
  <div class="footer-wrap">
    <div class="footer-tagline">
      <p>&copy; 2026 Jim Zheng</p>
    </div>
    <div class="social-media">
      <nav>
        <a href="https://github.com/BANANASJIM" target="_blank"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/bananasjim/" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://instagram.com/bananasjim" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
      </nav>
    </div>
  </div>
</footer>
