<section>
  <div class="project-container">
    {% for project in site.data.settings.projects %}
      <a href="{{ site.github.url }}/projects/{{ project.url }}">
        <div class="project-unit" style="background-image: url({{ site.github.url }}/assets/img/projects/{{ project.url }}/thumbnail.png)">
          <div class="project-overlay">
            <div class="project-info">
              <strong>{{ project.name }}</strong>
              {% if project.tags %}<span class="project-tags">{{ project.tags }}</span>{% endif %}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
