---
---

<!DOCTYPE html>
<html class="">
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.data.settings.seo.description }}">
    <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
    <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">
    <title>
      {% if page.title == "Home" %}
        {{ site.title }}
      {% else %}
        {{ page.title }} | {{ site.title }}
      {% endif %}
    </title>
    <link rel="icon" type="image/svg+xml" href="{{ site.github.url }}/assets/favicon.svg">
    <link rel="alternate icon" href="{{ site.github.url }}/favicon.ico">
    <meta name="theme-color" content="#0a0f14">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% feed_meta %}
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    {% include analytics.html %}
    {% seo %}
  </head>
  <body>
    <div class="site-container">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var toggle = document.querySelector('.nav-toggle');
        var nav = document.querySelector('header nav');
        if (toggle && nav) {
          toggle.addEventListener('click', function() {
            toggle.classList.toggle('active');
            nav.classList.toggle('open');
          });
        }
      });
    </script>
  </body>
</html>
